@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">

    @if (Model.Handler != null)
    {
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            <button type="button" class="btn float-right" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="alert-heading">Error!</h4>
            <p>@Model.Handler</p>
        </div>
    }


    <div class="row">

        <div class="col-2">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

    </div>

</div>
